html{
    height: 210vh;
}

body {
    margin: 0;
    height: auto;
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                        url('../img/bar1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#section1{
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section2{
    background-color: #EBE9D3; 
    color: #7D7847; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 2%; 
    padding:20px;
}
        #psection2{
            font-size: 20px; 
            text-align: left; 
            margin-left: 2;
        }

#section3{
    background-color: #EBE9D3; 
    color: #7D7847; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 2%; 
    padding:20px; 
    text-align: left;
}

        #h3section3{
            text-align: center;
        }

        #psection3{
            font-size: 20px;
        }

#section4{
    background-color: #EBE9D3; 
    color: #7D7847; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 2%; 
    padding: 20px; 
    overflow: hidden;

}
        #psection4{
            font-size: 20px; text-align: left;
        }

        #imgsection4{
            width: 200px; 
            height: auto; 
            margin-bottom: 20px; 
            float: left; 
            margin-right: 20px;
        }

#spanfinal{
    display: inline-block; 
    background-color: #7D7847; 
    color: white; 
    padding: 10px 0; 
    text-decoration: none; 
    font-size: 18px; 
    border-radius: 5px; 
    width: 300px; 
    border: 5px solid #7D7847; 
    text-align: center;
    margin-bottom: 30px;
}

footer{
    position: fixed;
    background-color: #EBE9D3;
    height: 14vh;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #7D7847;
    padding-bottom: 5vh;
}
        footer p{
            font-size: 17px;
            margin-top: 15px;
        }

        footer h3{
            font-size: 20px;
            margin-top: 15px;
        }
        
        .columna{
            display: inline-block;
            width: 30%;
            vertical-align: top;
        }
        
                #columnaredes li{
                    list-style: none;
                    text-decoration: none;
                    text-align: center;
                    color: inherit;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

        .columna img{
            width: 30px;
            height: auto;
            text-align: left;
        }

        .lifinal {
            color: inherit;
            display: inline;
            
        }
              .lifinal a{
                display: inline-block;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin: 2px;
                background-color: #7D7847; 
                color: white; 
                padding: 10px 0; 
                font-size: 15px;
                width: 150px; 
                border-radius: 5px solid;
                border: 5px solid #7D7847; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
                    .lifinal a:hover{
                        text-decoration: underline;
                        color: #7D7847;
                        color: white;
                    }